<div class="sidebar-container">
    <app-sidebar-button buttonIcon="pi pi-home" buttonText="Home" (buttonClickEvent)="buttonOnClicked('home')" [isSelected]="isSelected('home')"> </app-sidebar-button>
    <app-sidebar-button buttonIcon="pi pi-briefcase" buttonText="Teams" (buttonClickEvent)="buttonOnClicked('teams')" [isSelected]="isSelected('teams')"> </app-sidebar-button>
    <app-sidebar-button buttonIcon="pi pi-comment" buttonText="Chat" (buttonClickEvent)="buttonOnClicked('chat')" [isSelected]="isSelected('chat')"></app-sidebar-button>
    <app-sidebar-button buttonIcon="pi pi-envelope" buttonText="Mail" (buttonClickEvent)="buttonOnClicked('mail')" [isSelected]="isSelected('mail')"></app-sidebar-button>
</div>