@import 'home-theme';

@mixin generate-theme-map($map: ()) {

    @each $key,
    $value in $map {
        #{$key}: $value;
    }
}

:root * {
    @include generate-theme-map($home-theme-map);
    transition: background-color 1s !important;
}